:root {
  --bg-image: url("../../Assets/pokeball.png");
}

.card {
  background-color: #181829;
  border-radius: 12px;
  border: 4px solid black;
  padding: 2rem 1rem 1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.67);

  &:hover {
    transform: translateY(-2px);

    /*box-shadow:
      5px -4px 16px var(--type-color-a),
      -5px 4px 16px var(--type-color-b);*/

    border-color: var(--type-color-a) var(--type-color-b) var(--type-color-b)
      var(--type-color-a);
  }
}

.header {
  align-items: center;
  background-image: var(--bg-image);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 28px;
  color: white;
  display: flex;
  height: 36px;
  left: 8px;
  position: absolute;
  top: 0;
  width: calc(100% - 16px);
}

.number {
  font-weight: bold;
  font-size: 14px;
  color: white;
  position: absolute;
  padding-left: 4px;
}

/*.sprite {
  --sprite-size: 120px;

  width: var(--sprite-size);
  height: var(--sprite-size);
  margin: 0 auto;
  display: block;

  img {
    width: var(--sprite-size);
    height: var(--sprite-size);
    object-fit: contain;
    image-rendering: pixelated;
  }
}*/

.sprite {
  width: var(--sprite-size);
  height: var(--sprite-size);
  margin: 0 auto;
  display: block;
}

.sprite img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.name {
  color: white;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.types {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
