:root {
  /*This is set in the component*/
  --sprite-size: 0;
}

.sprite {
  display: block;
  height: var(--sprite-size);
  margin: 0 auto;
  width: var(--sprite-size);

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
